.floating{
  position: absolute;
  bottom : 10%;
  right: 10%;
}

#outer{
  width: 60%;
  height: 80%;
  align-content: center;
  display: flex;
  background: #2aabd2;
  color: whitesmoke;
}

#inner {
  height: 90vh;
}

#home {
  display: flex;
  align-content: center;
  justify-content: center;
}
